@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;

}

html {
    background-color: #d1e3dd;
}

h1, h3 {
    font-family: 'Roboto', sans-serif;
    color: white;
}

p, li {
    font-size: 1.1em;
}

.homebar {
    background-color: #5762d5;
    padding: 10px;
}

.upbar {
    background-color: #5762d5;
    padding: 30px 0;
    font-size: 1.7em;
    text-align: center;
}

/* Profile & Bio */

.pp {
    width: 300px;
}

.profile {
    display: flex;
}

.profile .pp{
    margin: 50px;
    border: solid 6px #5762d5;
    border-radius: 50%; 
}

.bio {  
    display: flex;
    margin-top: 55px;
    height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

.bio li {
    font-size: 1.5em;
}

/* About */

.about{
    margin: 0 0 20px 0;
}

.about p {
    margin: 20px;
    padding: 20px 0;
    text-align: center;
    font-size: 1.3em;
}

/* Edu background */

.edu{
    margin: 20px 0;
}

.list-edu{
    margin: 20px 0;
}

.list-edu li {
    margin: 15px 0;
}


/* Contacts */
.contacts {
    margin: 20px 0;
}

.list-contacts {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 20px 0;
    padding: 0;
}

.list-contacts li {
    margin: 15px 0;
    background-position: 0 0;
    background-size: 2rem;
    background-repeat: no-repeat;
    padding: 3px 0 1rem 2.7rem;
}

.list-contacts li a {
    color: black;
    text-decoration: none;
}

.list-contacts li a:hover {
    color: #5762d5;
    text-decoration: underline;
}

.phone {
    background-image: url('whatsapp.svg');
}

.steam {
    background-image: url('icon.svg');
}

.line {
    background-image: url('line.svg');
}

.ig {
    background-image: url('instagram.svg');
}

@media only screen and (max-width: 768px) {
    .profile{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .bio {
        margin: 0;
        padding: 0;
    }

    .list-contacts {
        flex-direction: column;
        align-items: center;
    }



}
