@import url('https://fonts.googleapis.com/css2?family=Montserrat+Subrayada&family=Montserrat:wght@400;600;700&family=Roboto&display=swap');@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Subrayada&display=swap');

/*general font-sizng and such*/

*{
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
}

html {
   margin:0;
   padding:0;
   height: 100%;
}

.sub-heading{
    font-size: 3.2rem;
    line-height: 35px;
}

p{
    font-size: 2.4rem;
}


h1{
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: bold;
    margin: 30px 0;
}

a{
    color: black;  
    font-family: 'Montserrat Subrayada', sans-serif;
    text-decoration: none;
    font-size: 2.6rem;
}

a:hover {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: black;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.long-par{
    font-family: 'Roboto', sans-serif;
    font-size: 2.4rem;
    text-align: justify;
    line-height: 50px;
}


.body-short p.long-par{
    margin: 25px 0 50px 0;
}

.logo-timmyworks{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-timmyworks img{
    width: 250px;
}

.user-auth{
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;

}

.user-auth a{
    margin: 0 10px;
}

/* short */
.container-xl.short{
    height:100%;
    position:relative;
}

.body-short{
    padding-bottom: 177px;
}

/* tldr - accordion */
.toolazy{
    margin-top: 100px;
}
.tldr{
    text-align: center;
}

.accordion{
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 10px;
}

.accordion-title{
    font-weight: bold;
    text-transform: uppercase;
}

.accordion-content{
    display: none;
    margin-top: 20px;
}

input[type="image"]{
    width: 40px;
    margin-left: 15px;
}

input[type="image"].up-btn{
    transform: rotate(180deg);
}

/* mini bio */
.mini-bio{
    text-align: center;
}

.mini-bio img{
  max-width: 325px;
    border-radius: 50%;
    
}


/* mini nav */
.mini-nav{
    margin: 50px 0;
}

.mini-nav ul{
    padding: 0;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

.mini-nav ul li a{
    text-transform: uppercase;
    font-size: 3.4rem;
}


/* footer */

footer{
    margin-top: 50px;
    border-radius: 20px 20px 0 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

footer p{
    margin: 100px 75px auto 0;
    font-size: 1.6rem;
    font-weight: bold;
}

footer .contacts{
    display: flex;
}

footer .contacts img{
    width: 175px;
    padding-top: 10px;
}

footer .contacts .contacts-info{
    margin-top: auto;
    margin-bottom: auto;
}

footer .contacts .contacts-info h2{
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
}

footer .contacts .contacts-info .cont-logo{
    display: flex;
    justify-content: space-between;
}

footer .contacts .contacts-info .cont-logo img{
    padding: 0;
    width: 27.5px;
    
}

/* About Me - Page 2 */

/* fix-nav */
.fix-nav{
    background-color: black;
    color: white;
}
.fix-nav li{
    margin-right: 20px;
}

.fix-nav a{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.fix-nav img{
    margin-left: 30px;
}

.fix-nav .navbar-toggler{
    margin-right: 30px;
    width: 50px;
    height: 40px;
    border: white solid 2px;
    border-radius: 3px;
}

.fix-nav .navbar-toggler .navbar-toggler-icon{
   font-size: 20px;
}

.user-info{
    display: flex;
    margin-top: 125px;
}


.container-xl{
    margin-top: 180px;
}

.container-xl .bio{
    display: flex;
}

.container-xl .bio img{
    max-width: 40%;
}

.container-xl .bio .text{
    margin-left: 75px;
}

.bio .text h1{
    margin: 10px 0;
}

.bio .text .long-par{
    margin-top: 50px;
    line-height: 60px;
}

/* edu */
.card-text{
    text-align: center;
    font-weight: bold;
}

.year {
    text-align: center;
}

/* experience */
.exp {
    display: flex;
    margin-bottom: 30px;
}

.exp img {
    width: 150px;
    margin-bottom: 150px;
}

.exp-content {
    margin-left: 30px;
}

.exp-content .sub-heading{
    font-weight: bold;
    margin-top: -20px;
    margin-bottom: 30px;
}

/* skill */
.list-skill{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.list-skill .card{
    border-color: black;
    border-width: 5px;
    border-radius: 20px;
    margin: 20px 0 50px 0;
}

.list-skill .sub-heading{
    font-weight: bold;
    margin-bottom: 30px;
}

/*other*/
.yoy{
    display: flex;
}

.yoy img{
    max-width: 375px;
}

/* Courses */

.card-body .card-title{
    font-size: 2.5rem;
    margin: 10px 0 10px 0;
}

.card-subtitle{
    font-weight: 700;
}

.list-group-item{
    font-size: 1.7rem;
}

/* buttons */
.card{
    margin-bottom: 35px;
}

.card .btn{
    font-size: 1.7rem;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0;
}

.btn.but-del{
    font-family: 'Montserrat Subrayada', sans-serif;
}

.btn.but-del:hover{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.add-btn{
    margin: 50px 0 50px 0;
    display: flex;
    justify-content: center;
}

.add-btn.special{
    justify-content: space-around;
}

.add-btn a, a.but-back{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 3px;
    font-size: 2rem;
    width: 200px;
    height: 50px;
    padding-top: 10px;
    
}

.add-btn a:hover{
    font-weight: 400; 
}

input.but-add{
    font-family: 'Montserrat', sans-serif;
}

/* Forms */
.form-group label{
    font-size: 2.6rem; 
}

.form-group input, .form-group textarea, .form-group select{
    font-size: 2rem; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
}

.form-group select#id_category option{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

/* Forms Auth */
.auth-page{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.auth-body{
    margin: auto;
    padding: 25px 75px;
    border: 4px solid black;
    border-radius: 10px;
    box-shadow: 10px 15px black;
}

.form-auth{
    display: flex;
    flex-direction: column;
}

.form-auth li{
    list-style-type: none;
    font-size: 2rem;
}

.form-auth li:last-of-type{
    text-align: center;
}

.form-auth a{
    font-size: 2rem;
    font-family: 'Montserrat', 'sans-serif';
}

.form-auth span a{
    font-weight: bold;
    text-transform: uppercase;
}

.form-auth label{
    font-size: 2.6rem; 
}

.form-auth input{
    font-size: 1.75rem; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 25px;
    border: 2px solid black;
    border-radius: 5px;
}

.form-auth input[type=text], .form-auth input[type=password]{
    width: 100%;
}

.form-auth input[type=submit]{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 5px;
    
}


/* Tables */
.table-responsive-xl{
    margin-bottom: 50px;
}

table thead tr th{
    font-size: 2rem;
}

table tbody tr th{
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
}

table tbody tr td{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
}

table tbody tr td p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.75rem;
}

/* Books table */
th.book-title{
    font-size: 2rem;
}

td.book-author{
    font-style: italic;
}

td.book-title{
    font-size: 1.5rem;
}

/* Search bar books */
.book-searching a{
    font-family: 'Montserrat', 'sans-serif';
    font-size: inherit; 
    text-decoration: underline;
}

input[type="text"]#search-keywords{
    width: 100%;
    font-size: 2rem;
    margin: 20px 0;
}

.book-search-result{
    margin-top: 50px;
}

.book-search-result table{
    margin-bottom: 50px;
}

/* Error-Message */
ul.errorlist li{
    font-size: 1.5rem;
}

@media only screen and (max-width: 1096px) {
    .container-xl .bio img{
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    *{
        font-size: 8px;
    }

    h1{
        text-align: center;
    }

    .fix-nav ul{ 
        margin: 0;
        padding: 0;
    }

    .fix-nav ul li{
        margin-right: 15px;
    }
    .fix-nav ul li a{
        font-size: 2.3rem;
    }

    /* short */
    .body-short h2.sub-heading{
        text-align: center;
    }

    /*biopart*/

    .container-xl .bio{
        display: inline-block;
        text-align: center;
    }
    
    .container-xl .bio img{
        max-width: 70%;
    }
    
    .bio .text h1{
        margin: 10px 0;
    }
    
    .bio .text .long-par{
        margin-top: 50px;
        line-height: 50px;
    }

    .container-xl .bio .text{
        margin: 0 25px;
    }

    /* expart */

    .exp {
        display: inline-block;
        margin-top: 50px;
        margin-bottom: 0;
        text-align: center;
        line-height: 50px;
    }
    
    .exp img {
        width: 100px;
        margin: 0;
    }
    
    .exp-content {
        margin: 0 25px;
        
    }
    
    .exp-content .sub-heading{
        font-weight: bold;
        margin-top: -20px;
        margin-bottom: 30px;
    }

    /*other*/

    .yoy{
        display: inline-block;
    }

    .yoy .long-par{
        margin: 0 15px 0 15px;
    }

    .yoy .bean img{
        display: block;
        width: 50%;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    .card-subtitle{
        text-align: center;
    }

    .card .btn{
        font-size: 1.5rem;
        padding: 5px 0 5px 0;
    }

}

@media only screen and (max-width: 481px) {
    
    .fix-nav img{
        max-width: 8%;
    }

    .long-par{
        line-height: 45px;
    }

    .exp p{
        line-height: 45px;
    }
    


    footer p{
        margin: auto 30px auto 0;
        font-size: 1.5rem;
    }

    footer .contacts img{
        padding: 0;
        width: 100px;
        
    }

    footer .contacts .contacts-info h2{
        margin-bottom: 0px;
        font-size: 1.9rem;
    }

    footer .contacts .contacts-info .cont-logo img{
        margin-top: 7px;
        padding: 0;
        width: 20px;
        
    }

    .card-subtitle{
        text-align: center;
    }


    
}