{% extends 'mainpage/base.html' %}
{% block title %}
Oops..
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl short">
    <div class="body-short">
        <h1>Sorry..</h1>
        <p class="long-par">We couldn't show the details of "{{matkul.nama}}" because there is no description about it. Please make sure you have added or updated the course.</p>
        <a class="btn btn-dark btn-lg but-back" href="{% url 'matkul:list_matkul' %}" role="button">Go Back</a>
    </div>
</div>

{% endblock %}