{% extends 'mainpage/base.html' %}
{% block title %}
Create Course
{% endblock %}


{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    {% if request.get_full_path == "/courses/create-course" %}
    <h1>Add Course</h1>
    {% else %}
    <h1>Update Course</h1>
    {% endif %}
    <div class="form-group">
        <form action="" method="POST">
            {% csrf_token %}
            {{form}}
            {% if request.get_full_path == "/courses/create-course" %}
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Create">
            {% else %}
            <input class="btn btn-dark btn-lg but-add" type="submit" value="Update">
            {% endif %}
        </form>
    </div>
    <a class="btn btn-dark btn-lg but-back" href="{% url 'matkul:list_matkul' %}" role="button">Go Back</a>
</div>
{% endblock %}