{% extends 'mainpage/base.html' %}
{% block title %}
Activities
{% endblock %}

{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>Activities</h1>
    {% if not list_activities %}
    <p class="long-par">There are no activities yet. Create one now!</p>
    <div class="add-btn">
        <a class="btn btn-dark btn-lg but-add" href="{% url 'activities:create_activity' %}" role="button">Create Activity</a>
    </div>
    {% else %}
    <div class="row">
        {% for act in list_activities %}
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{act.name}}</h1>
                    <h2 class="card-subtitle mb-1 text-muted">Category: {{act.category}}</h2>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{act.desc}}</li>
                </ul>
                <a href="{% url 'activities:edit_activity' act.name %}" class="btn btn-outline-dark">Edit</a>
                <a href="{% url 'activities:add_participant' act.id %}" class="btn btn-outline-dark">Add Participant</a>
                <form action="{% url 'activities:delete_activity' act.name %}" method="post">
                    {% csrf_token %}
                    <input class="btn btn-outline-dark btn-block but-del" type="submit" value="Delete">
                </form>

                
            </div>
        </div>
        {% endfor %}
    </div>
    
    <div class="add-btn special">
        <a class="btn btn-dark btn-lg but-add" href="{% url 'activities:create_activity' %}" role="button">Add Activity</a>
        <a class="btn btn-dark btn-lg but-add" href="{% url 'activities:details' %}" role="button">Details</a>
    </div>
    {% endif %}
    
</div>


{% endblock %}