{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
About Me
{% endblock %}



{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>About Me</h1>
    <div class="bio">
        <img src="{% static 'mainpage/img/IMG_20200707_140113-1.jpg' %}" alt="">
        <div class="text">
            <h1>Timothy Efraim Hotasi</h1>
            <p class="sub-heading">Computer Science Student</p>
            <p class="sub-heading"> University of Indonesia</p>
            <p class="long-par">Born in Jakarta, Indonesia. Currently 19 years old. Determined person. Novice programmer. Passionate designer. Simple photographer. Average pianist. Cat lover. Love spending time playing games and gazing at the sky.</p>

        </div>
        
    </div>
</div>

<div class="container-xl">
    <h1>Education</h1>
    <div class="card-deck">
        <div class="card">
          <img src="{% static 'mainpage/img/image-2.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">SMA Regina Pacis Bogor</p>
            <p class="year">(2016 - 2019)</p>

          </div>

        </div>
        <div class="card">
          <img src="{% static 'mainpage/img/image-1.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">University of Indonesia</p>
            <p class="year">(2019 - )</p>
            
          </div>

        </div>
        <div class="card">
          <img src="{% static 'mainpage/img/image-3.jpg' %}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">SMP Regina Pacis Bogor</p>
            <p class="year">(2013 - 2016)</p>

          </div>
        </div>
      </div>
</div>

<div class="container-xl">
    <h1>Experience</h1>
    
    <div class="exp">
        <img src="{% static 'mainpage/img/Logotype [800px].svg' %}">
        <div class="exp-content">
            <h1>Compfest</h1>
            <p class="sub-heading">Visual Design (Staff)</p>    
            <p class="long-par">Compfest is the biggest and leading one stop IT Event held by students in University of Indonesia. I spent my time there designing publication things like announcements, posters, and so on. Working as a visual designer team motivates me to design even more.</p>
        </div>
    </div>

    <div class="exp">
        <img src="{% static 'mainpage/img/image 4.svg' %}">
        <div class="exp-content">
            <h1>Sekolah BEM Fasilkom</h1>
            <p class="sub-heading">Pengembangan Teknologi Informasi</p>    
            <p class="long-par">Sekolah BEM Fasilkom or SBF is a program that is dedicated to freshmen to participate in Faculty-enviroment organization. I was taking a part in Pengembangan Teknologi Informasi (PTI) which taught me about 
                on-campus technology engagement. Besides that, PTI also taught me about Web Development. I got to know HTML, CSS, Javascript, and Django. It motivates me to become a web developer.</p>
        </div>
    </div>
    
</div>

<div class="container-xl">
    <h1>Skills</h1>
    <div class="list-skill">

    
    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <p class="sub-heading">Soft Skill</p>
          <p>Hardworker</p>
          <p>Easy to work in group</p>
          <p>Creative</p>
          <p>Open-minded</p>
          
        </div>
      </div>

    <div class="card" style="width: 30rem;">
        <div class="card-body">
          <p class="sub-heading">Hard Skill</p>
          <p>Design (Photoshop, Figma)</p>
          <p>Programming (Java)</p>
          <p>Photograhy</p>
          
        </div>
      </div>

    </div>
    
</div>

{% include 'mainpage/footer.html' %}
{% endblock %}