{% load static %}

<footer>
    <div class="contacts">
        <img src="{% static 'mainpage/img/Logo.svg' %}" alt="logo-timmy">
        
        <div class="contacts-info">
            <h2>Contacts</h2>
            <div class="cont-logo">
                <a href="https://www.instagram.com/timothyefraimlg/"><img src="{% static 'mainpage/img/instagram.svg' %}" alt="/"></a>
                <a href="https://timeline.line.me/user/_ddsVorZ8EgF-HT5mYGTgSKG_xbZrnL1_S9XRf7s"><img src="{% static 'mainpage/img/line.svg' %}" alt="/"></a>
                <a href="https://wa.me/087873257805"><img src="{% static 'mainpage/img/whatsapp.svg' %}" alt="/"></a>
            </div> 
        </div>
             
    </div>
    <p>@timmyworks</p>
</footer>
