{% extends 'mainpage/base.html' %}

{% load static %}

{% block title %}
Gallery
{% endblock %}



{% block content %}
{% include 'mainpage/header.html' %}
<div class="container-xl">
    <h1>Gallery</h1>
    
    <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'mainpage/img/1.jpg' %}" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'mainpage/img/2.jpg' %}" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'mainpage/img/3.jpg' %}" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'mainpage/img/4.jpg' %}" class="card-img-top" alt="...">
            
          </div>
        </div>
        <div class="col mb-4">
            <div class="card">
              <img src="{% static 'mainpage/img/5.jpg' %}" class="card-img-top" alt="...">

            </div>
          
        </div>
        <div class="col mb-4">
          <div class="card">
            <img src="{% static 'mainpage/img/6.jpg' %}" class="card-img-top" alt="...">

          </div>
        
      </div>   
    </div>

    <p>Pictures taken by me.</p>
    <p>More to come.</p>

</div>

{% include 'mainpage/footer.html' %}
{% endblock %}