{% load static %}

<nav class="navbar navbar-expand-sm fixed-top navbar-dark fix-nav">
    <div class="container-fluid">
      <img src="{% static 'mainpage/img/T.svg' %}" width="40" height="100" alt="" loading="lazy">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse align-items-center" id="navbarResponsive">
        
        <ul class="navbar-nav ml-auto align-items-center">
        {% with url_name=request.resolver_match.url_name %}
            <li class="nav-item"> 
            <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home:home' %}">Home</a>
            </li>
            <li class="nav-item">
            <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'home:about' %}">About Me</a>
            </li>

            <li class="nav-item">
            <a class="nav-link {% if url_name == 'gallery' %}active{% endif %}" href="{% url 'home:gallery' %}">Gallery</a>
            </li>

            <li class="nav-item dropdown">
            <a class="nav-link {% if url_name != 'home' and url_name != 'about' and url_name != 'gallery' %}active{% endif %} dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Others
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="{% url 'story1:story1' %}">Story 1</a>
                <a class="dropdown-item" href="{% url 'home:coming-soon' %}">Coming<br>Soon</a>
                <a class="dropdown-item" href="{% url 'matkul:list_matkul' %}">Course</a>
                <a class="dropdown-item" href="{% url 'activities:list_activities' %}">Activity</a>
                <a class="dropdown-item" href="{% url 'booksearch:index' %}">Books</a>
            </div>
            </li>
        {% endwith %}
        </ul>
      </div>
    </div>
</nav>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

